/* @import "../../GlobalCSS/_Variables"; */
@use "../../GlobalCSS/Variables" as *;


* {
    font-family: $fontStyle;
}

.navbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-width: $MainCardWidth;
    height: 100vh;
    background-color: #2f2926;
    color: white;
    justify-content: center;
    align-items: center;
    z-index: 10001;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;

    a {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none; /* Ta bort standardunderstrykning */
    position: relative; /* För att kunna positionera pseudo-elementet */
    }
    
    a::after {
    content: '';
    position: absolute;
    bottom: -15px; /* Justera hur långt ned linjen ska vara */
    left: 50%; /* Centrera linjen horisontellt */
    transform: translateX(-50%); /* Justera för att centrera linjen exakt */
    width: 48px; /* Sätt önskad bredd på linjen */
    height: 1px; /* Justera tjockleken på linjen */
    background-color: #FFFFFF33; /* Färg och opacitet på linjen */
    border-radius: 2px; /* Rundade hörn på linjen */
    }
    
    a:hover::after {
    background-color: #FFFFFF; /* Gör linjen mer synlig vid hover */
    }
      
}


.close-button {
    background-color: transparent;
    border: none;
    align-self: flex-start;
}

.x-icon {
    width: 48px;
    height: 48px;
    justify-self: flex-end;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}