@use "../../GlobalCSS/Variables" as *;


* {
    font-family: $fontStyle;
}

.navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    min-width: $MainCardWidth;
    height: 100vh;
    background-color: #2f2926;
    color: white;
    justify-content: center;
    align-items: center;
    z-index: 10001;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100%;

    a {
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none; 
    position: relative; 
    }
    
    a::after {
    content: '';
    position: absolute;
    bottom: -15px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 48px; 
    height: 1px; 
    background-color: #FFFFFF33; 
    border-radius: 2px; 
    }
    
    a:hover::after {
    background-color: #FFFFFF; 
    }
      
}

.close-button {
    background-color: transparent;
    border: none;
    align-self: flex-start;
}

.x-icon {
    width: 48px;
    height: 48px;
    justify-self: flex-end;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}