@use "../../GlobalCSS/Variables" as *;

.cart-overlay-background {
  position: absolute;
  top: 0; 
  left: 0;
  width: $MainCardWidth; 
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.cart-overlay-content {
  position: relative; /* Viktigt för att absolut positionering av .close-button ska fungera */
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 341px;
  height: 565.77px;  
  max-height: 80vh; /* Förhindrar att den tar över hela skärmen */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Skugga för snygg effekt */
  clip-path: polygon(0 0, 0 10px, 90% 10px, 92% 0px, 94% 10px, 100% 10px, 100% 100%, 0 100%);
  z-index: 1000; /* Se till att overlayn är över annat innehåll */
}

.close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: red; /* Effekt vid hover */
}

.h2-overlay {
  color: #2F2926;
  font-size: 3rem;
  position: absolute;
  top: 45px; /* Justera för att flytta upp rubriken */
}

.buy-button {
  position: absolute;
  background-color: #2F2926;
  color: white;
  font-size: 24px;
  width: 248px;
  height: 55px;
  border-radius: 50px;
  bottom: 45px;
  cursor: pointer;
}

.buy-button:hover {
  scale: 1.1;
}
