


.header {
    display: flex;
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 0;
    justify-content: center;
    background-color: transparent;
    width: 375px;
    background-image: url("/src/assets/Images/image.png");
    margin: 0 auto;
}

.hamburger-button {
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: transform 300ms ease-out;
    height: 48px;
    width: 48px;
    top: 16px;
    left: 16px;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
}

.hamburger-icon {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.cart-button {
    position: absolute;
    height: 60px;
    width: 60px;
    background-color:#2f2926 ;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    /* top: 16px; */
    top: -2px;
    left: 299px;
    margin: 10px;

    z-index: 10000;
}

.cart-item-count {
    position: absolute;
    background-color: #f4511e;
    border-radius: 50%;

    top: -4px;
    width: 22px;
    height: 22px;
    right: 2px;
    transform: rotate(-180deg);

 

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.cart-icon {
    height: 21px;
    width: 16px;
}


.header-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px;
    background-color: transparent;
    width: 375px;
    height: 113px;
    z-index: 100;
    padding: 0;
}

